extends ./layout
block content   
    #content
        section#main_userInfo
            h2 신청자 확인
            table.allCarList_list
                    thead
                            tr
                                th(width='150') 닉네임
                                th(width='150') 지역
                                th(width='150') 조합
                                th(width='150') 상사
                                th(width='150') 핸드폰번호
                                th(width='100') 확인
                                
                    tbody 
                          -each row in myGroup
                            tr
                                td= row.displayName
                                td= row.area
                                td= row.johap
                                td= row.companyName
                                td= row.phoneNumber 
                                td
                                        a(href='/DM/layBmyGroup/'+row.groupId+'/layBmyGroupUserReq/'+row.id+'/myGroupReqConfirm') 신청받기
   