extends ./layout
block content   
    #content
        section#main_userInfo
          body
            h2 딜러아이디어 칼럼
            br
            b.text_align_left 들어가며
            br
            br
            p.text_align_left 딜러아이디어는 딜러분들을 위한 웹사이트입니다. 
            p.text_align_left 딜러에게 도움이 될 유용한 정보들을 올려드릴 예정입니다.
            br
            br
            div
                table(align = 'center').boardDM
                    thead
                        tr
                            th(width='50') 번호
                            th(width='350') 제목
                            th(width='120') 작성자
                            th(width='60') 조회수
                            th(width='150') 변경일
                    tbody
                        -each row in rows
                                tr
                                    td= row.boardId
                                    td
                                        a(href='/DM/layBboardDM/read/'+row.boardId)= row.title
                                    td= row.displayName
                                    td= row.hit
                                    td= row.modidate
                                    