extends ./layB
block content
    #content
        section#main_leaseInterestRate
        
            .leaseCompany_container
              h2.text_align_center 사용자찾기
              br
              p 사용자 찾기페이지입니다.
              p 딜러아이디어에 가입되어이는 사용자를 찾을 수 있고 
              p 등록되어있는 차량들을 확인할 수 있습니다.
              br
              hr
              br
            .leaseCompany_bar
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") 사용자찾기
              br
              br
            #kbcapital.leaseCompany_container.city 
                img(src='layBuserInfo/userInfo1', width='950', height='320', align='Right', border='10', bordercolor='#333')
            
              
              
            script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }