extends ./layout
block content   
    #content
        section#main_userInfo
            h2 그룹명 검색 
            br
            
            form(action='/DM/layBmyGroup/layBmyGroupSearch' method='get')


                p 내그룹명 검색 : 
                    input(type='text', name='groupName', placeholder='groupName')
                br
                p
                    button.button_myinfo(type='submit') 검색 


            br
            br
            table.myinfo
                    thead
                            tr
                                
                                th 그룹명
                                th 그룹담당자id
                                th 그룹신청
                    tbody
                          -each row in myGroup
                            tr
                                
                                td(width='200')= row.groupName
                                td(width='200') minwoo
                                td(width='200')
                                    a(href='/DM/layBmyGroup/layBmyGroupSearch/'+row.groupId) 신청보내기 
