extends ./layout
block content   
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jQuery UI Sortable - Default functionality
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/resources/demos/style.css')
        style.
          #sortable { list-style-type: none; margin: 0; padding: 0; width: 110%; }
          #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 0.95em; height: 50px; }
          #sortable li span { position: absolute; margin-left: -1.3em; }
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script.
          $( function() {
          $( "#sortable" ).sortable();
          $( "#sortable" ).disableSelection();
          } );
    #content
      section#main_userInfo
                h2 상사매물정보
                ul#sortable
                    -each privateCar in privateCars 
                        li.text_align_left
                            p= privateCar.carBrand +' | '
                              = privateCar.carName +' | '
                              = privateCar.carAge +'년식 | '
                              = privateCar.carAgeYear +'년 '
                              = privateCar.carAgeMonth +'월 | '
                              = privateCar.carColor +' | '
                              = privateCar.carDistance +' | '
                              = privateCar.carDescription+' | '
                              = privateCar.carCashLease + ' | '
                              = privateCar.displayName
                          
                        
        
      