extends ./layB
block content
    #content
        section#main_leaseInterestRate
        
            .leaseCompany_container
              h2.text_align_center 찜한 차
              br
              p 전국매물정보에서 또 보기를 원해 찜한 차량들을 모아놓은 페이지입니다.
              p 내가 찜해놓은 차량들을 인쇄하여 볼 수 있습니다.
              br
              hr
              br
             
             
            .leaseCompany_bar
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") 찜한 차
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 매물상세정보
              br
              br

            #kbcapital.leaseCompany_container.city
                  
                  img(src='layBmyCart/myCart1', width='950', height='620', align='Right', border='10', bordercolor='#333')
            #hyundaicapital.leaseCompany_container.city(style='display:none')
                
                  img(src='layBmyCart/myCart2', width='950', height='850', align='Right', border='10', bordercolor='#333')
 

            script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }