extends ./layout
block content   
    #content
        section#main_userInfo
          body
            h2 딜러아이디어 칼럼
            div
              table(align = 'center').boardDM
                input(type='hidden', name='boardId', value='row.boardId')
                tr
                  th 작성자
                  td= row.displayName
                tr
                  th 제목
                  td= row.title
                tr
                  th 내용
                  td= row.content
                tr
                  th 변경일
                  td= row.modidate
                tr
                  th 조회수
                  td= row.hit
