extends ./layout
block content   
    #content
      section#main_userInfo
        
        h2 매물정보
        div
            table(align='center').allCarList
                thead
                        tr
                            td 차사진
                            td 성능지사진
                tbody
                        tr
                            th(width='100') 브랜드
                            td(width='200')= privateCar.carBrand
                tbody
                        tr
                            th 차명
                            td= privateCar.carName
                tbody
                        tr
                            th 연식 & 등록연월
                            td= privateCar.carAge +'/' + privateCar.carAgeYear +'.'+ privateCar.carAgeMonth
                tbody
                        tr
                            th 색상
                            td= privateCar.carColor
                tbody
                        tr
                            th 주행거리
                            td= privateCar.carDistance   
                tbody
                        tr
                            th 사고유무
                            td= privateCar.carAccident + ':' + privateCar.carAccidentCheck                             
                tbody
                        tr
                            th 내용
                            td= privateCar.carDescription     
                tbody
                        tr
                            th 보배 URL
                            td 
                tbody
                        tr
                            th SK엔카 URL
                            td 
             
                
        h2 가격정보
        div
            table(align='center').allCarList
                tbody
                        tr
                            th(width='100') 신차가
                            td(width='200')= privateCar.carNewPrice
                tbody
                        tr
                            th 제시가
                            td= privateCar.carPublicPrice
                tbody
                        tr
                            th 입금가
                            td= privateCar.carPrivatePrice
                tbody
                        tr
                            th 리스/현금
                            td= privateCar.carCashLease
                tbody
                        tr
                            th 리스정보
                            td                         
          
          
         h3.text_align_left
            a(href='/DM/privateCar/'+privateCar.carId+'/edit') 수정하기
         h3.text_align_left
            a(href='/DM/privateCar/'+privateCar.carId+'/delete') 삭제하기
         h3.text_align_left
            a(href='/DM/privateCar/'+privateCar.carId+'/calculateCar') 정산서

         
