extends ./layB
block content
    #content
        section#main_leaseInterestRate
        
            .leaseCompany_container
              h2.text_align_center 내 그룹
              br
              p 내 그룹 페이지입니다. 
              p 원하는 멤버들을 모아 그룹을 만들 수 있습니다. 
              p 그룹명을 정해 새그룹 생성합니다. 
              p 가입을 원하는 사람이 그룹을 찾아 신청한 후 관리자가 승인시 가입이 완료됩니다.
              p 내 상사와 동일하게 멤버들의 차량들의 정보를 열람할 수 있고, 매물지를 인쇄할 수 있습니다.
              br
              hr
              br
            .leaseCompany_bar
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") 내 그룹
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 그룹신청
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hanacapital')") 그룹명검색
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('meritz')") 그룹 내 인원정보
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('nhcapital')") 신청자확인
              
              br
              br
            #kbcapital.leaseCompany_container.city       
                img(src='layBmyGroup/myGroup1', width='950', height='320', align='Right', border='10', bordercolor='#333')
            #hyundaicapital.leaseCompany_container.city(style='display:none')
                
                img(src='layBmyGroup/myGroup2', width='950', height='320', align='Right', border='10', bordercolor='#333')
            #hanacapital.leaseCompany_container.city(style='display:none')
            
                img(src='layBmyGroup/myGroup3', width='950', height='420', align='Right', border='10', bordercolor='#333')
            #meritz.leaseCompany_container.city(style='display:none')
            
                img(src='layBmyGroup/myGroup4', width='950', height='360', align='Right', border='10', bordercolor='#333')
            #nhcapital.leaseCompany_container.city(style='display:none')
            
                img(src='layBmyGroup/myGroup5', width='950', height='380', align='Right', border='10', bordercolor='#333')
 
              
              
            script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }