extends ./layB
block content
    #content
        section#main_leaseInterestRate
        
            .leaseCompany_container
              h2.text_align_center 내 상사
              br
              p 내 상사 페이지입니다. 
              p 상사와 관련된 정보들이 들어있습니다. 
              p 관리자 정보는 상사페이지를 관리하는 유저의 정보입니다.
              p 상사 필요서류는 매매나 기타 업무와 관련된 서류를 담아놓는 공간입니다.
              p 상사인원정보는 본인이 속한 상사의 멤버들을 확인하는 공간입니다.
              p 상사 멤버가 갖고있는 차량들의 정보를 열람할 수 있습니다.
              p 상사매물정보는 상사 내의 딜러들의 차량을 모아놓은 공간입니다. 확인 및 인쇄가 가능합니다.
              br
              hr
              br
            .leaseCompany_bar
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") 내 상사
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 상사인원정보
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hanacapital')") 상사개인매물정보
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('meritz')") 매물상세정보
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('nhcapital')") 상사매물정보
              br
              br
            #kbcapital.leaseCompany_container.city
                  
                img(src='layBcompanyGroup/companyGroup1', width='950', height='720', align='Right', border='10', bordercolor='#333')
            #hyundaicapital.leaseCompany_container.city(style='display:none')
                
                img(src='layBcompanyGroup/companyGroup2', width='950', height='250', align='Right', border='10', bordercolor='#333')
            #hanacapital.leaseCompany_container.city(style='display:none')
            
                img(src='layBcompanyGroup/companyGroup3', width='950', height='650', align='Right', border='10', bordercolor='#333')
            #meritz.leaseCompany_container.city(style='display:none')
            
                img(src='layBcompanyGroup/companyGroup4', width='950', height='850', align='Right', border='10', bordercolor='#333')
            #nhcapital.leaseCompany_container.city(style='display:none')
            
                img(src='layBcompanyGroup/companyGroup5', width='950', height='550', align='Right', border='10', bordercolor='#333')
     
              
              
            script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }