extends ./layout
block content
    #content
        section#main_leaseInterestRate
        

            .leaseCompany_container
              h2.text_align_center 내정보 
              br
              p 내 정보를 저장하고 확인하는 공간입니다. 
              p 정보가 정확하지 않으면 전국매물정보에 소개되는 나의 정보가 정확하지 않으므로 잘 확인하시기 바랍니다.
              p 닉네임은 '이름' + ' _ ' + '주민등록번호 앞자리'로 자동구성됩니다. 
              br
              hr
              br
            .leaseCompany_bar
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") 내정보 메인화면
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 개인정보수정
            br
            br
            #kbcapital.leaseCompany_container.city
                  
                  img(src='layBmyinfo/myinfo1', width='900', height='720', align='Right', border='10', bordercolor='#333')
            #hyundaicapital.leaseCompany_container.city(style='display:none')
                
                  img(src='layBmyinfo/myinfo2', width='900', height='670', align='Right', border='10', bordercolor='#333')
                  
                  
            script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }