extends ./layB
block content
    #content
        section#main_leaseInterestRate
        
            .leaseCompany_container
              h2.text_align_center 내 차고
              br
              p 내 차를 등록하는 페이지입니다.
              p 다른 사이트에서 하시는 방법과 유사한 방법으로 등록을 하시며, 
              p 수정 파트에 가시면 수정과 정산이 가능합니다. 
              p 정산은 +,-버튼을 이용하여 저장하실 수 있습니다.
              p 판매가 완료된 후는 저장이 된채로 존재하며 언제든 열람하실 수 있습니다.
              p 보조키 및 매뉴얼 등을 고객에게 주었는지 입력해놓으시면 나중에도 확인이 가능합니다.
              br
              hr
              br
            .leaseCompany_bar
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") 내차고
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 차량추가
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hanacapital')") 수정하기
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('meritz')") 정산하기
            br
            br
            #kbcapital.leaseCompany_container.city
                  
                  img(src='layBprivateCar/privateCar1', width='950', height='850', align='Right', border='10', bordercolor='#333')
            #hyundaicapital.leaseCompany_container.city(style='display:none')
                
                  img(src='layBprivateCar/privateCar2', width='950', height='850', align='Right', border='10', bordercolor='#333')
            #hanacapital.leaseCompany_container.city(style='display:none')
            
                img(src='layBprivateCar/privateCar3', width='950', height='850', align='Right', border='10', bordercolor='#333')
            #meritz.leaseCompany_container.city(style='display:none')
            
                img(src='layBprivateCar/privateCar4', width='950', height='1200', align='Right', border='10', bordercolor='#333')
    
              
              
            script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }