extends ./layout
block content   

    #content
     section#main_myinfo
        div
             h2 내 정보 수정
             
             form(action='/DM/layBmyinfo/edit' method='post')
                  table(align='center').myinfo
                    thead
                        tr
                              th(scope='cols') 타이틀
                              th(scope='cols') 내용

                    tbody
                        tr
                                th(scope='cols') 지역
                                td(scope='cols')  
                                    select.select_join(name='area' value='myinfo.area' ,selected='selected') 
                                      option(value='서울특별시',selected=''  ) 서울특별시
                                      option(value='경기도',selected='') 경기도
                                      option(value='인천광역시',selected='') 인천광역시
                                      option(value='강원도',selected='') 강원도 

                        tr
                                th(scope='cols') 조합명
                                td(scope='cols')  
                                    select.select_join(name='johap' value=myinfo.johap)
                                      option 서울오토갤러리
                                      option 카서울닷컴
                                      option 서울강남매매단지
                                      option 이외

                        tr
                                th(scope='cols') 회사명
                                td(scope='cols')  
                                    input.input_text(type='text' value=myinfo.companyName name='companyName', placeholder='companyName')  



                        tr
                                th(scope='cols') 직책
                                td(scope='cols')  
                                    select.select_join(name='position' value=myinfo.position)
                                      option 딜러
                                      option 보험사
                                      option 리스사
                                      option 사무장
                                      option 이외

                        tr
                                th(scope='cols') 비밀번호
                                td(scope='cols')  
                                   input.input_text(type='password', value=myinfo.password name='password', placeholder='password') 

                        tr
                                th(scope='cols') 핸드폰 번호
                                td(scope='cols')  
                                   input.input_text(type='text', value=myinfo.phoneNumber name='phoneNumber', placeholder='phoneNumber')     

                        tr
                                th(scope='cols') 성별
                                td(scope='cols')  
                                   select(name='sex' value=myinfo.sex)
                                      option 남자
                                      option 여자  



                  br
                  br
                  input.button_myinfo(type='submit')   
            
            