extends ./layout
block content   
    #content
        section#main_userInfo
            h1= '그룹신청을 하시겠습니까? '+myGroup.groupName
            form(action='/DM/layBmyGroup/layBmyGroupSearch/'+myGroup.groupId method='post')
              p
                input(type='submit' value='YES')
            a(href='/DM/layBmyGroup/layBmyGroupSearch/'+myGroup.groupName) NO