extends ./layout
block content   
    #content
        section#main_userInfo
             h2 그룹 신청을 받는 페이지입니다. 
             br
             p 그룹명을 입력하시고 생성하기를 누르시면 그룹에 생성됩니다.
             br
             form(action='/DM/layBmyGroup/layBmyGroupRegister' method='post')
                 p 그룹명 : 
                    input(type='text', name='groupName', placeholder='groupName')
                 br
                 p
                    button.button_myinfo(type="button") 생성하기
