extends ./layout
block content
    #content
    section#main_leaseInterestRate
    
        .leaseCompany_container
          h2.text_align_center 리스사별 리스 규정
          b 들어가며
          br
          p 매 차를 가져오실 때마다 조건변경이 가능한지, 승계수수료는 얼마인지 헷갈릴 때도 있고, 가져오는 것이 확실치도 않은데 리스사 직원에게 물어보기도 미안할 때가 많으신 것으로 알고 있습니다.
          p 이를 해결해드리고자 리스 규정들을 모아놓았습니다. 
          
        .leaseCompany_bar
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('benzfinance')") 벤츠파이낸스(예시)
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") KB캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 현대캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hanacapital')") 하나캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('meritz')") 메리츠증권
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('nhcapital')") NH캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('orixcapital')") 오릭스캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyosungcapital')") 효성캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('deutschfinance')") 도이치파이낸셜
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('saneuncapital')") 산은캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('shinhancard')") 신한카드
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('shinhancapital')") 신한캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('cnhcapital')") CNH캐피탈
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('toyotafinance')") 토요타파이낸셜서비스코리아
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('volksfinance')") 폭스바겐파이낸셜서비스코리아
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('bnkcapital')") BNK캐피탈(전 BS캐피탈)
          button.button_leaseCompany.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('bmwfinance')") BMW파이낸셜서비스코리아
        #benzfinance.leaseCompany_container.city
                h2 벤츠파이낸스(예시)
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 조건변경
                hr        
                p 운용리스 -> 금융리스
                br
                p 변경 가능
                br
                p 증액 : 순수원금보다 차량가액 x 80%가 큰 경우
                p 페널티 : 1년 미만 = 4%( 1 ~ 12개월 ), 1년이상 2년미만 = 3% ( 13개월 ~ 24개월), 2년 이상 = 2% (24회 납부 후 )
                br
                p 감액 : 순수원금보다 작은 금액 해지시 
                p 페널티 : 미회수원금의 10%
                p 승계수수료 : 조건변경 시 페널티를 내면 면제
                br
                br
                p 예시 ) 
                p 상황 : 리스발생 후 20개월 지난차량 
                p 거래시세가 6000만원인 차량
                p 순수원금이 3700만원 (미회수원금 6700만원, 보증금 3000만원)
                br
                p 증액시 
                br
                p 차량가액   
                p 6000만원 x 80% = 4800만원 
                p 순수원금
                p 3700만원 
                br
                p 4800만원(차량가액 x 80%) > 3700만원 (순수원금)
                p 페널티 = 미회수원금 x 3% = 201만원
                br
                br
                hr
                p 금융리스 -> 금융리스

                p 변경 가능여부

                p 내용

                p 페널티

                p 승계수수료

                p 예시 ) 
                br
                hr
                br
                p 금융리스 -> 완납승계   

                p 변경 가능여부

                p 내용

                p 페널티

                p 승계수수료

                p 예시 ) 


        #kbcapital.leaseCompany_container.city(style='display:none')
                h2 KB캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #hyundaicapital.leaseCompany_container.city(style='display:none')
                h2 현대캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #hanacapital.leaseCompany_container.city(style='display:none')
                h2 하나캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
              
        #meritz.leaseCompany_container.city(style='display:none')
                h2 메리츠증권
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #nhcapital.leaseCompany_container.city(style='display:none')
                h2 NH캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #orixcapital.leaseCompany_container.city(style='display:none')
                h2 오릭스캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #bnkcapital.leaseCompany_container.city(style='display:none')
                h2 BNK캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #bmwfinance.leaseCompany_container.city(style='display:none')
                h2 BMW파이낸셜
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #saneuncapital.leaseCompany_container.city(style='display:none')
                h2 산은캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #shinhancard.leaseCompany_container.city(style='display:none')
                h2 신한카드
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #shinhancapital.leaseCompany_container.city(style='display:none')
                h2 신한캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #cnhcapital.leaseCompany_container.city(style='display:none')
                h2 CNH캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #toyotafinance.leaseCompany_container.city(style='display:none')
                h2 토요타파이낸셜
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #volksfinance.leaseCompany_container.city(style='display:none')
                h2 폭스바겐파이낸셜
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #hyosungcapital.leaseCompany_container.city(style='display:none')
                h2 효성캐피탈
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        #deutschfinance.leaseCompany_container.city(style='display:none')
                h2 도이치파이낸셜
                hr
                p 성함 - 
                p 직책 - 
                p 전화번호 - 
                p 지점 - 
                hr
                p 준비중입니다.
        script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }
