extends ./layB
block content
    #content
        section#main_leaseInterestRate
        
            .leaseCompany_container
              h2.text_align_center 전국매물정보
              br
              p 전국매물정보를 확인하는 페이지입니다.
              p 내 차고에 판매중으로 정리해놓은 차량들의 정보를 딜러들이 확인할 수 있습니다.
              p 찜하기를 하시면 찜한차Tab에서 확인하실 수 있습니다. 
              p 매물들의 상세정보를 확인할 수 있습니다.
             
              br
              hr
              br
            .leaseCompany_bar
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") 전국매물정보
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 찜하기
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hanacapital')") 매물상세정보
              br
              br

            #kbcapital.leaseCompany_container.city
                  img(src='layBallCarList/allCarList1', width='950', height='850', align='Right', border='10', bordercolor='#333')
                  
            #hyundaicapital.leaseCompany_container.city(style='display:none')
                  img(src='layBallCarList/allCarList2', width='950', height='300', align='Right', border='10', bordercolor='#333')
                  
            #hanacapital.leaseCompany_container.city(style='display:none')
                  img(src='layBallCarList/allCarList3', width='950', height='850', align='Right', border='10', bordercolor='#333')

              
            script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }