extends ./layout
block content
    #content
    section#main_leaseInterestRate
    
        .leaseCompany_container
          h2.text_align_center 신차정보
          br
          p 신차의 가격정보와, 재고정보를 알 수 있는 페이지입니다.
          
        .leaseCompany_bar
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('kbcapital')") 신차정보
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hyundaicapital')") 재고정보
              button.button_tab.leaseCompany_bar-item.leaseCompany_button(onclick="openCity('hanacapital')") 가격정보
              
              br
              br
            #kbcapital.leaseCompany_container.city       
                img(src='layBnewCarInfo/newCarInfo1', width='950', height='570', align='Right', border='10', bordercolor='#333')
            #hyundaicapital.leaseCompany_container.city(style='display:none')
                
                img(src='layBnewCarInfo/newCarInfo2', width='950', height='730', align='Right', border='10', bordercolor='#333')
            #hanacapital.leaseCompany_container.city(style='display:none')
            
                img(src='layBnewCarInfo/newCarInfo3', width='950', height='980', align='Right', border='10', bordercolor='#333')
            #meritz.leaseCompany_container.city(style='display:none')
 
              
              
            script.
              function openCity(cityName) {
              var i;
              var x = document.getElementsByClassName("city");
              for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
              }
              document.getElementById(cityName).style.display = "block";
              }
