extends ./layout
block content   
    #content
      section#main_userInfo
        h2 상사 인원 정보
        table(align = 'center').allCarList
                  thead
                        tr
                          th 사용자사진
                          th 닉네임
                          th 조합
                          th 상사
                          th 전화번호
                          th 직책
                          th 차고
                  tbody
                        -each user in users
                            tr
                                td(width='100') 사용자사진
                                td(width='120')= user.displayName
                                td(width='150')= user.johap
                                td(width='150')= user.companyName
                                td(width='100')= user.phoneNumber
                                td(width='100')= user.position
                                td(width='100')
                                    a(href='/DM/userInfo/privateCarList/'+user.id) 차고 
                            

