doctype html
html
  head
    style.
      @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
      // <!-- style 초기화 -->
      * {margin:; padding: 0;}
      ul {padding-left : 0px;}
      li {list-style : none;}
      a {text-decoration:none;
      }
      img { border : 0;}
      h1 { font-size : 50px; text-align : center;
      font-family: 'Playfair Display SC', serif;}
      
    // JQuery초기화
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    style.

     // <!-- title -->
      #title{
      width : 960px; margin : 0 auto;
      position : relative;
      }
      //<!-- main_right_car_tab -->
      #main_right_car_tab {
      }
      #main_right_car_tab {
      overflow: hidden;
      position : absolute;
      right: 10px; top: 100px;
      }
      
      // content
      #content {
      width: 960px; margin 0 auto;
      overflow: hidden;
      }
      
        
      
      #main_left_tab {
      li  list-style : none;
          font-size : 18px;
          text-align : center;
      position : static;
      width: 300px; 
      float: left;
      }
      
      
       
      #main_leaseInterestRate{
      text-align : left;
      background-color : #FFF0F5;
      width: 950px;
      height: cover;
      position : absolute;
      left: 350px; top: 10px;
      border: 1px solid #7FFFD4;
      }
      
      
      
      #main_myinfo {
      
      text-align : center;
      background-color : #FFF0F5;
      width: 950px;
      height: cover;
      position : absolute;
      left: 450px; top: 10px;
      border: 1px solid #7FFFD4;  
      }
      
      
      
      // table myinfo
      
      style.
      table.myinfo {
      border-collapse: collapse;
      text-align: center;
      line-height: 3;
      border: 1px solid #ccc;
      margin: 20px 10px;
      }
      table.myinfo thead {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: #2F4F4F;
      }
      table.myinfo thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #fff;
      }
      table.myinfo tbody th {
      width: 200px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #fcf1f4;
      }
      table.myinfo td {
      width: 550px;
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #F0FFFF;
      }
      
      
      // table companyGroup
      
      style.
      table.companyGroup {
      border-collapse: collapse;
      text-align: center;
      line-height: 5;
      border: 1px solid #ccc;
      margin: 20px 10px;
      }
      table.companyGroup thead {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: #2F4F4F;
      }
      table.companyGroup thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #fff;
      }
      table.companyGroup tbody th {
      padding: 30px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #fcf1f4;
      }
      table.companyGroup td {
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #F0FFFF;
      }
      
      
       // table allCarList
       
      style.
      table.allCarList {
      border-collapse: collapse;
      text-align: center;
      line-height: 5;
      border: 1px solid #ccc;
      margin: 10px 10px;
      }
      table.allCarList thead {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: #2F4F4F;
      }
      table.allCarList thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #fff;
      }
      table.allCarList tbody th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #fcf1f4;
      }
      table.allCarList td {
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #F0FFFF;
      }
      
      
      // table leaseInterest
      
      style.
      table.leaseInterest {
      border-collapse: collapse;
      text-align: center;
      line-height: 3;
      border: 1px solid #ccc;
      margin: 10px 10px;
      }
      table.leaseInterest thead {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: #2F4F4F;
      }
      table.leaseInterest thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #fff;
      }
      table.leaseInterest tbody th {
      width: 250px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #2F4F4F;
      color: #fff;
      }
      table.leaseInterest td {
      width: 250px;
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #F0FFFF;
      }
      
      
      
       // table boardDM
       
      style.
      table.boardDM {
      border-collapse: collapse;
      text-align: center;
      line-height: 5;
      border: 1px solid #ccc;
      margin: 10px 10px;
      }
      table.boardDM thead {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: #2F4F4F;
      }
      table.boardDM thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #fff;
      }
      table.boardDM tbody th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #fcf1f4;
      }
      table.boardDM td {
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #F0FFFF;
      }
      
      
      
      
      
       // table allCarList_list
       
      style.
      table.allCarList_list {
      border-collapse: collapse;
      text-align: center;
      line-height: 5;
      border: 1px solid #ccc;
      margin: 10px 10px;
      }
      table.allCarList_list thead {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: #2F4F4F;
      }
      table.allCarList_list thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #fff;
      }
      table.allCarList_list tbody th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #fcf1f4;
      }
      table.allCarList_list td {
      padding: 10px;
      height : 80px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #F0FFFF;
      }
      
      
      
      #main_layBprivateCar {
      text-align : center;
      background-color : #FFF0F5;
      width: 950px;
      height: cover;
      position : absolute;
      left: 450px; top: 10px;
      border: 1px solid #7FFFD4;  
      }
      
      
      #main_layBmyCart {
      text-align: center;
      background-color : #FFF0F5;
      width: 950px;
      height: cover;
      position : absolute;
      left: 450px; top: 10px;
      border: 1px solid #7FFFD4;  
      }
      
      #main_layBcompanyGroup {
      text-align : center;
      background-color : #FFF0F5;
      width: 950px;
      height: cover;
      position : absolute;
      left: 450px; top: 10px;
      border: 1px solid #7FFFD4;  
      }
      
      #main_layBallCarList{
      text-align : center;
      background-color : #FFF0F5;
      width: 950px;
      height: cover;
      position : absolute;
      left: 450px; top: 10px;
      border: 1px solid #7FFFD4;  
      }
      
      
      #main_layBallCarListInfo{
      text-align : center;
      background-color : #FFF0F5;
      width: 950px;
      height: cover;
      position : absolute;
      left: 450px; top: 10px;
      border: 1px solid #7FFFD4;
      }
      
      #main_userInfo{
      text-align : center;
      background-color : #FFF0F5;
      width: 950px;
      height: cover;
      position : absolute;
      left: 450px; top: 10px;
      border: 1px solid #7FFFD4;
      }
      
      
     // <!-- footer -->
      #footer {
      }
      #footer {
      width: 960px; 
      position: absolute;
      bottom:0;
      height:50px;
      text-align: center;
      }
      
      line-height:200%;

      script.
      $(document).ready(function(){
      $('form, h1, h2, h3, li').addClass('login_menu');
      });
      $(document).ready(function(){
      $('footer').addClass('footer');
      });
    script.
      $( function() {
      $( "#accordion" ).accordion();
      } );
      
    style(type='text/css').
      .pagination {display:inline;}
      .pagination1 {padding-top:5px;display:inline;    
      border-left:1px solid #999; 
      font:bold 20px Dotum;                
      padding:0 10px;}   
      
      .pagination2 {
      display:inline;    
      border-left:1px solid #999; 
      font:bold 20px Dotum;                
      padding:0 10px;  
      }
        
    style.
        .text_align_center {
        text-align : center;
        }   
        .text_align_left {
        text-align : left;
        }   
        .text_align_right {
        text-align : right;
        }   
        .text_color_red {
        color : red;
        }
      
    style.
          .div_main1 {
          width: 195px;
          height: 600px;
          border: 1px solid black;
          position: absolute;
          right: 750px; top: 10px;
          }
          .div_main2 {
          width: 195px;
          height: 600px;
          border: 1px solid gray;
          position: absolute;
          right: 550px; top: 10px;
          }
          .div_main3 {
          width: 195px;
          height: 300px;
          border: 1px solid blue;
          position: absolute;
          right: 350px; top: 10px;
          }
          .div_main4 {
          width: 195px;
          height: 295px;
          border: 1px solid red;
          position: absolute;
          right: 350px; top: 315px;
          }
          .div_main5 {
          width: 195px;
          height: 600px;
          border: 1px solid yellow;
          position: absolute;
          right: 150px; top: 10px;
          }
          .div_sub1 {
          width: 195px;
          height: 150px;
          border: 1px solid black;
          position: absolute;
          right: 50px; top: 10px;
          }
          .div_sub2 {
          width: 195px;
          height: 150px;
          border: 1px solid gray;
          position: absolute;
          right: 50px; top: 170px;
          }
          .div_sub3 {
          width: 95px;
          height: 150px;
          border: 1px solid blue;
          position: absolute;
          right: 150px; top: 330px;
          }
          .div_sub4 {
          width: 95px;
          height: 150px;
          border: 1px solid red;
          position: absolute;
          right: 50px; top: 330px;
          }
          .div_sub5 {
          width: 195px;
          height: 150px;
          border: 1px solid yellow;
          position: absolute;
          right: 50px; top: 490px;
          }
    
    //option select carAdd
    style.
        .select_join {
        width: 220px;
        height: 30px;
        overflow: hidden;
        border: #FEFEFE 1px solid;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
        box-shadow: inset 0px 0px 10px 1px #FEFEFE;
        }
        .select_join select {
        background: transparent;
        width: 170px;
        font-size:7pt;
        color:grey;
        border: 0;
        border-radius: 0;
        height: 28px;
        -webkit-appearance: none;
        }
        .select_join select:focus {
        outline: none;
        }
        .input_text { 
        width : 220px;
        height : 30px;
        }
        .textarea { 
        width : 220px;
        height : 30px;
        }
        
        
    //option select allCarList
    style.
        .select_join2 {
        width: 110px;
        height: 30px;
        overflow: hidden;
        border: #FEFEFE 1px solid;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
        box-shadow: inset 0px 0px 10px 1px #FEFEFE;
        }
        .select_join2 select {
        background: transparent;
        width: 170px;
        font-size:7pt;
        color:grey;
        border: 0;
        border-radius: 0;
        height: 28px;
        -webkit-appearance: none;
        }
        .select_joi2n select:focus {
        outline: none;
        }
        .input_text2 { 
        width : 110px;
        height : 30px;
        }
        .textarea2 { 
        width : 110px;
        height : 30px;
        }

    style.
          .button_leaseInterestRate {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 25px 100px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          }
          
          .button_leaseCompany {
          background-color: #4CAF50;
          width : 150px;
          border: none;
          color: white;
          padding: 5px 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 1px 1px;
          cursor: pointer;
          }
    
          .button_myinfo {
          background-color: #4CAF50;
          width : 200px;
          border: none;
          color: white;
          padding: 20px 50px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 1px 1px;
          cursor: pointer;
          }
            
          .button_manual {
          background-color: #4CAF50;
          width : 230px;
          border: none;
          color: white;
          padding: 25px 50px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 1px 1px;
          cursor: pointer;
          }
    
          .button_tab {
          background-color: #4CAF50;
          width : 185px;
          border: none;
          color: white;
          padding: 5px 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          margin: 1px 1px;
          cursor: pointer;
          }
            
          .button_account {
          background-color: #4CAF50;
          width : 55px;
          border: none;
          color: white;
          padding: 5px 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
          margin: 1px 1px;
          cursor: pointer;
          }
    
    
  body
    header#main_header
      #title
      nav#main_right_car_tab
    
    aside#main_left_tab
        #accordion
            h1(style='line-height:50%') Under Idea
            ul
                li  Creator 황민우
                li  Tel 010.3437.2633
                li  underidea@naver.com
                li  KakaoId underidea
                li  
                  a(href='http://blog.naver.com/underidea', target='_blank') 언더아이디어 소개 
                li
                  a(href='/') 메인화면 
                  
                p ★ 이용가능 페이지
                p 현재 가오픈 단계로 로그인 및 기타기능을 지원하지않습니다.
                p 스마트폰은 가로로 보시면 좋습니다.
            h1(style='line-height:50%') Dealer   
            ul
                li
                  a(href='/DM/layBmyinfo')  내 정보 
                li
                  a(href='/DM/layBprivateCar')  내 차고 
                // 판매중과 판매완료 나누기 ajax이용
                li
                  a(href='/DM/layBcompanyGroup')  내 상사 
                // 상사매물지, 상사필요서류,상사일정 나누기 ajax이용
                li
                  a(href='/DM/layBmyGroup')  내 그룹 
                li
                  a(href='/DM/layBmyCart')  찜한 차 
                li
                  a(href='/DM/layBuserInfo') 사용자찾기
                li
                  p 현재 가오픈 단계로 로그인 및 기타기능을 지원하지않습니다.
                
            h1(style='line-height:50%') Idea
            ul
                li 
                    a(href='/DM/layBallCarList?page=1')  전국매물정보 
                li 
                    a(href='/DM/layBleaseCompany')  ★리스사정보 
                li 
                    a(href='/DM/layBnewCarInfo')  신차정보 
                li 
                    a(href='/DM/layBboardDM')  ★DI 칼럼 
                li 
                    a(href='/DM/layBleaseInterestRate')  ★리스이자율계산 
                li
                  p 현재 가오픈 단계로 로그인 및 기타기능을 지원하지않습니다.
    
    block content