doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title jQuery UI Tabs - Default functionality
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      $( function() {
      $( "#tabs" ).tabs();
      } );
  body
    h1
        a(href='/DM/privateCar')  privateCar로 돌아가기  
    #tabs
          ul
            li
              a(href='#tabs-1') BNK캐피탈(전 BS캐피탈)
            li
              a(href='#tabs-2') 메리츠캐피탈
            li
              a(href='#tabs-3') BMW파이낸셜서비스코리아
            li
              a(href='#tabs-4') 산은캐피탈
            li
              a(href='#tabs-5') 신한카드
            li
              a(href='#tabs-6') 신한캐피탈
            li
              a(href='#tabs-7') CNH캐피탈
            li
              a(href='#tabs-8') 오릭스캐피탈
            li
              a(href='#tabs-9') KB캐피탈
            li
              a(href='#tabs-10') 토요타파이낸셜서비스코리아
            li
              a(href='#tabs-11') 폭스바겐파이낸셜서비스코리아
            li
              a(href='#tabs-12') 하나캐피탈
            li
              a(href='#tabs-13') 현대캐피탈
            li
              a(href='#tabs-14') 효성캐피탈

            
          #tabs-1
            p
              | BNK캐피탈(전 BS캐피탈)입니다.
          #tabs-2
            p
              | 메리츠캐피탈입니다.
          #tabs-3
            p
              | BMW파이낸셜서비스코리아입니다.
          #tabs-4
            p
              | 산은캐피탈입니다.
          #tabs-5
            p
              | 신한카드입니다.
          #tabs-6
            p
              | 신한캐피탈입니다.
          #tabs-7
            p
              | CNH캐피탈입니다.
          #tabs-8
            p
              | 오릭스캐피탈입니다.
          #tabs-9
            p
              | KB캐피탈입니다.
          #tabs-10
            p
              | 토요타파이낸셜서비스코리아입니다.
          #tabs-11
            p
              | 폭스바겐파이낸셜서비스코리아입니다.
          #tabs-12
            p
              | 하나캐피탈입니다.
          #tabs-13
            p
              | 현대캐피탈입니다.
          #tabs-14
            p
              | 효성캐피탈입니다.

