doctype html
html
     head
        title myCart
        link(rel='stylesheet', href='/stylesheets/style.css')
     body 
        li
            a(href='/DM/privateCar') Back

        h1 리스 이자율 계산
        form(action='/DM/leaseInterestRate/leaseInterestRateInsert' method='post')

            p 차량명 :
                input(type='text' name='carName', placeholder='carName')
            p 차량번호 :
                input(type='text' name='carNumber', placeholder='carNumber')
            p 리스사 :
                input(type='text' name='leaseCompany', placeholder='leaseCompany')
            p 리스형식 :
                select(name='leaseForm')
                  option 운용리스
                  option 금융리스
                  option 유예리스
            p 기준일 :
                input(type='date' name='leaseFixedDate', placeholder='leaseFixedDate')
            p 총회차 :
                input(type='text' name='allInning', placeholder='allInning')
            p 현재회차 :
                input(type='text' name='nowInning', placeholder='nowInning')
            p 월 리스료 :
                input(type='text' name='leaseFee', placeholder='leaseFee')
            p 월 선납금 :
                input(type='text' name='prePaid', placeholder='prePaid')
            p 미회수원금 :
                input(type='text' name='nonPrincipal', placeholder='nonPrincipal')
            p 보증금 :
                input(type='text' name='deposit', placeholder='deposit')
            p 잔존가치 :
                input(type='text' name='residualValue', placeholder='residualValue')
            p 조건변경 :
                select(name='conditionChange')
                  option 가능
                  option 불가능
            p 미회수원금2 :
                input(type='text' name='nonPrincipal2', placeholder='nonPrincipal2')
            p 미회수원금3 :
                input(type='text' name='nonPrincipal3', placeholder='nonPrincipal3')
            p 미회수원금4 :
                input(type='text' name='nonPrincipal4', placeholder='nonPrincipal4')
            p 미회수원금5 :
                input(type='text' name='nonPrincipal5', placeholder='nonPrincipal5')                 
            p
                input(type='submit')   
                       